<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guessing Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="fs-1 text-center">Welcome to the Guessing Game!</p>
            <p class="fs-3 text-center">I am thinking of a number between 1 and 100</p>
            <p class="fs-3 text-center">Take a guess!</p>
            {% if 'guess' in session %}
            {% if session['guess'] < session['num']: %}
            <div class="bg-danger text-white rounded border border-3 p-5 mb-4" style="--bs-bg-opacity: .75"> 
                Too low!
            </div>
            {% elif session['guess'] > session['num']: %}
            <div class="bg-danger text-white rounded border border-3 p-5 mb-4" style="--bs-bg-opacity: .75"> 
                Too high!
            </div>
            {% else: %}
            <div class="bg-success text-white rounded border border-3 p-5 mb-4" style="--bs-bg-opacity: .75"> 
                You got it!
            </div>
            {% endif %}
            {% endif %}
            {% if session['count'] == 5 %}
            <div class="bg-danger text-white rounded border border-3 p-5 mb-4" style="--bs-bg-opacity: .75"> 
                You lost, I was thinking of {{session['num']}}
            </div>
            {% endif %}
            <form action="/check" method="POST" class="d-flex">
                <input class="form-control w-auto" type="number" min="0" max="100" step="1" name="guess">
                <button class="btn btn-primary m-2"> Submit </button>
            </form>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>